body {
  margin: 0;
  font-family: Arial, sans-serif;
  
}

.container-principal {
  min-height: 100vh;
  background-color: #0f172a;
  display: flex;                   /*Centraliza o conteúdo horizontalmente*/
  justify-content: center;
  padding: 32px;
}

/* Estilo para a caixa interna que contém o gerenciador de tarefas */
.container-interno {
  width: 100%;
  max-width: 640px;
  background-color: #1e293b;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0px 25px 50px 10px #16db652a;
}

.titulo-principal {
  font-size: 30px;
  font-weight: bold;
  color: #f8fafc;
  text-align: center;
  margin-bottom: 32px; /*adiciona uma margem de 32px abaixo do título*/
  border-bottom: 1px solid #334155;   /* Adiciona uma linha de borda de 1px na parte inferior, usando uma cor cinza escura */
  padding-bottom: 16px;
}

.container-Input-Add {
  display: flex;
  justify-content: center;
  padding: 16px;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 32px;
  border-radius: 8px;
  
}

.Input-Task, 
.Input-Description {
  flex: 1;
  font-size: 10px;
  padding: 12px;
  border-radius: 6px;
  background-color: #8b660027;
  border: 1px solid #475569;
  color: #f8fafc;
}

@media (min-width: 600px) {
  .Input-Task {
    flex: 1;
    min-width: 150px;
  }

  .Input-Description {
    flex-basis: 100%;
  }
}

.Input-Task::placeholder,
.Input-Description::placeholder {
  color: #ffffff;
  font-size: 12px;
}

/* botao adicionar */
.bttAdd {
  padding: 12px 20px;
  background-color: #81fc6375;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  transition: background-color 0.15 ease-in-out;
  cursor: pointer;
  
}

.bttAdd:hover{
  background-color: #3484929d;
}

/* Estilos para a seção que contém o formulário de Adicionar Tarefa */
.secao-adicionar-tarefa {
    
    background-color: #1d1e2c; 
    
    padding: 24px; 
   
    border-radius: 8px; 
    
    box-shadow: 0 4px 12px #0000001a; 
    
    margin-bottom: 24px; /* espaçamento entre as os inputs e as tasks*/
}
/*Lista de Tarefas*/
.tasks-list {
  list-style: none; /* Remove os marcadores padrão da lista */
  padding: 24px;
  margin: 0;
  background-color: #1d1e2c;
  box-shadow: 0 20px 25px -5px #0302035e, 0 8px 10px -6px #a778ff5e;
}

/* Aplica margem superior de 16px (1rem * 16px) a todos os itens <li>, exceto o primeiro */
.task-item + .task-item {
  margin-top: 16px;
}

.task-item {
  display: flex;
  gap: 8px;
  /* align-items: center; */
  background-color: #1d1e2c;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgb(0, 115, 168);
}

/* Estilo para o Botão Principal (Título da Tarefa) - Selecionado via seletor :first-child */
.task-button {
  flex: 1;  /* Faz com que o botão ocupe o máximo de espaço disponível no flex container */
  text-align: left;
  background-color: #0c7489;
  color: #ffffff;
  padding: 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s ease-in-out;
}

.line-through {
    /* Aplica a linha sobre o texto ao concluir a task */
    text-decoration: line-through;
    color: #a0aec0; 
}

.task-item button:last-child:hover {
  background-color: #00b8f0;
  border: none;
  padding-left: 9px;
  border-radius: 6px;
}

.chevronIcon {
  background-color: #0c7489;
  border-radius: 6px;
  border: none;
  width: 40px;
  cursor: pointer;
}

.deleteIcon {
  background-color: #0c7489;
  border-radius: 6px;
  border: none;
  width: 40px;
  color: #ffba52;
  cursor: pointer;
}

.in-deleteIcon {
  height: 20px;
  width: 20px;
}

