body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container-principal {
  min-height: 100vh;
  background-color: #0f172a;
  display: flex;                   /*Centraliza o conteúdo horizontalmente*/
  justify-content: center;
  padding: 32px;
}

/* Estilo para a caixa interna que contém o gerenciador de tarefas */
.container-interno {
  width: 100%;
  max-width: 640px;
  background-color: #1e293b;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0px 25px 50px 10px #ab8dff;
}

.titulo-principal {
  font-size: 30px;
  font-weight: bold;
  color: #f8fafc;
  text-align: center;
  margin-bottom: 32px; /*adiciona uma margem de 32px abaixo do título*/
  border-bottom: 1px solid #334155;   /* Adiciona uma linha de borda de 1px na parte inferior, usando uma cor cinza escura */
  padding-bottom: 16px;
  
 
}