/* Estilos para o container principal */
.container-principal {
  width: 100vw;
  height: 100vh;
  background-color: #68dcff; /* Slate 500 */
  display: flex;
  justify-content: center;
  padding: 1.5rem; /* p-6 */
}

/* Estilos para o container interno */
.container-interno {
  width: 500px;
}

/* Estilos para o h1 */
.titulo-principal {
  font-size: 1.875rem; /* text-3xl */
  line-height: 2.25rem;
  color: #f1f5f9; /* text-slate-100 */
  font-weight: 700; /* font-bold */
  text-align: center; /* text-center */
}